.score{
    color: #000000;
    padding-top: 10px
}

.scoreboard {
    background-color:rgb(0, 255, 255,0.5);
    max-width: 600px;
    border: 2px solid #000000;
    box-shadow: 2px 2px #4e4e4e;
    margin-left: auto;
    margin-right: auto;
    max-height: 60px;
    min-height: 60px;

}

.textAlignRight{
    text-align: right;
    margin-left: 50px;
}

.textAlignLeft{
    text-align: left;
    margin-right: 50px;
}